<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../controller/utils/checkLogin.js"></script>
    <script src="../controller/utils/lastSeen.js"></script>

    <script src="../controller/message/message.js"></script>

    <title>NFA - Message</title>
</head>
<body>
    <main>
        <div id="chat-content"></div>
    </main>
    <aside id="chat-users">
        <ul id="list-chat"></ul>
    </aside>
</body>
</html>