<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../controller/utils/checkLogin.js"></script>
    <script src="../controller/utils/lastSeen.js"></script>
    <script src="../controller/profile/profile.js"></script>
    <!-- <link rel="icon" href="../nfa-icon.png" type="image/x-icon" /> -->
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/modals.css">

    <title>NFA</title>
</head>

<body>
    <div id="navbar-space"></div>

    <main>
        <div class="profile-back"></div>
        <div class="container-fluid" id="profile-content">
            <section id="profile" class="profile-container">
                <section id="profile-info">
                    <div class="row">
                        <img alt="User profile image" id="profile-image" class="profile-page-icon" />
                    </div>
                    <div id="profile-follow" class="row">
                        <a id="btn-follow" role="button" class="btn btn-secondary">Follow</a>
                        <a id="btn-followers" role="button" class="btn btn-secondary">Followers</a>
                    </div>
                    <ul id="list-info"></ul>
                </section>
                <section id="profile-post" class="posts-container"></section>
            </section>
        </div>
    </main>

</body>

</html>