<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../controller/utils/checkLogin.js"></script>
    <script src="../controller/utils/lastSeen.js"></script>
    <script src="../controller/sponsor/sponsor.js"></script>
    <script src="../controller/utils/themeScript.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <title>Sponsor</title>
</head>

<body id="sponsor-body">
    <div class="row">
        <a href="javascript: history.go(-1)" role="button" class="btn-utility-contrast btn-back" title="Go back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
        <form action="#" method="POST" id="duration-form" class="container-centered">
            <fieldset>
                <legend>Choose sponsor duration:</legend>
                <ul>
                    <li>
                        <input type="radio" name="duration" id="1day" value="1">
                        <label for="1day">1 day</label>
                    </li>
                    <li>
                        <input type="radio" name="duration" id="3day" value="3">
                        <label for="3day">3 days</label>
                    </li>
                    <li>
                        <input type="radio" name="duration" id="5day" value="5">
                        <label for="5day">5 days</label>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>

    <div id="post-container">
        <!-- post here -->
    </div>
</body>

</html>