<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../controller/sponsor/sponsor.js"></script>
    <title>Sponsor</title>
</head>

<body>
    <form action="#" method="POST" id="duration-form">
        <fieldset>
            <p>Choose sponsor duration:</p>
            <ul>
                <li>
                    <input type="radio" name="duration" id="1day" value="1">
                    <label for="1day">1 day</label>
                </li>
                <li>
                    <input type="radio" name="duration" id="3day" value="3">
                    <label for="3day">3 days</label>
                </li>
                <li>
                    <input type="radio" name="duration" id="5day" value="5">
                    <label for="5day">5 days</label>
                </li>
            </ul>
        </fieldset>
    </form>

    <div id="post-container">
        <!-- post here -->
    </div>
</body>

</html>