html[data-bs-theme="dark"] {

    body,
    #text-area-comment,
    .post-card,
    .card {
        background-color: #212529;
        color: white;
        transition: background-color 0.7s ease, color 0.7s ease;
    }

    nav {
        background-color: #006f3c !important;
        color: white;
        transition: background-color 0.7s ease, color 0.7s ease;
    }

    .btn:not(#reset, .btn-danger) {
        background-color: #006f3c;
        transition: background-color 0.7s ease, color 0.7s ease;
    }

    #reset:hover {
        background-color:#bb2d3b !important;
    }
    
    .btn-feedback,
    .comment>a,
    #index-post-user-id>a,
    .card>p>a,
    #private-more-info>svg {
        color: white;
        transition: background-color 0.7s ease, color 0.7s ease;
    }

    .sponsorized-text {
        color: #FEAB5D;
    }

    #search-text,
    #search-button,
    #category-search,
    .dropdown-menu,
    .dropdown-menu>a,
    .notification-area>p>a,
    #new-post>form>input,
    #new-post>form>textarea,
    .dropdown-toggle,
    #edit-profile-form>input,
    #edit-profile-form>textarea {
        background-color: #212529 !important;
        color: white;
        transition: background-color 0.7s ease, color 0.7s ease;
    }

    .table-striped {
        background-color: #2c3034;
    }

    .table-striped>tbody>tr>td>p>a,
    .table-striped>tbody>tr>td>a {
        color: white !important;
    }

    .table-striped tr:nth-child(even),
    .table-striped>thead>tr>th,
    .modal-content {
        background-color: #212529;
    }

    .table>thead {
        border: none;
    }

    .comment>a:hover {
        color: #198754;
        transition: none
    }

    #reset:hover {
        background-color: #bb2d3b;
        transition: none;
    }

    .btn:hover:not(.btn-danger), .view-post:hover {
        background-color: #198754 !important;
        transition: none;
    }

    .card>p>a:hover,
    #index-post-user-id>a:hover,
    .notification-area>p>a:hover {
        color: #198754 !important;
        transition: none;
    }

    #btn-followers, #btn-follow {
        border: none;
        background-color: #006f3c !important;
        color: white;
    }

    #btn-followers:hover, #btn-follow:hover {
        background-color: #198754 !important;
        transition: none;
    }

    #edit-back-button, #change-password-button {
        background-color: #212529 !important;
        color: white;
    }

    #list-chat {
        background-color: #212529;
    }

    #list-chat > li:hover {
        background-color: #3f474f;
    }

    .message-src {
        background-color: #003c20 !important;
    }

    #chat-content > #input-area > textarea {
        background-color: #212529;
        color: white;
    }

    #list-chat > li {
        box-shadow: 2px 3px #3f474f;
    }

    #duration-form > fieldset {
        background-color: #212529;
        color: white;
    }

    #post-author > a{
        color: white !important;
    }

    #view-post > .row > a, .container-fluid > #profile > a {
        background-color: #212529;
        color: white;
    }

    #view-post > .row > a:hover, #edit-back-button:hover {
        background-color: #3f474f !important;
    }


}