.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center !important;
}
  
/* Modal Content/Box */
.modal-content {
    display: inline-block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0 20px 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%; /* Could be more or less, depending on screen size */
    max-height: 60%;
    overflow-y: auto;
}

.modal-header {
    background-color: white;
    position: fixed;
    width: 40%;
    height: 10%;
    z-index: 1;
}

/* Modal Content table */
.modal-content table {
    margin-top: 10%;
    overflow-y: initial !important;
}

.modal-content table thead {
    z-index: 1;
    position: sticky !important;
    top: 19%;
}

/* Modal Content table's rows */
.modal-content table td {
    padding: 3% 0;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}