body {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: left;
}

main {
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin-top: 10%;
}

.container-centered {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 10% 0;
}

.profile-container {
    align-items: center !important;
    width: 120%;
}

.edit-container {
    width: 70%;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
}

.post-row {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 5% 0 0;
}

.col:first-of-type {
    display: flex;
    justify-content: start;
    width: 100%;
}

.col {
    display: flex;
    justify-content: end;
    width: 100%;
}

.btn-feedback {
    margin: 2% 4% 0 1%;
    background-color: transparent;
    border: none;
    font-size: x-large;
    padding-bottom: 1.5%;
}

.profile-row {
    display: flex;
    width: 100%;
    align-items: start;
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.index-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.posts-container {
    display: inline;
    width: 120%;
    margin-top: 100px;
    /*margin-left: 30%;*/
}

.post-card {
    float: left;
    border: 2px solid lightslategray;
    border-radius: 15px;
    margin: 1%;
    padding: 1% 20px 2%;
    background-color: whitesmoke;
    /*width: 34rem !important;*/
    width: 50%;
    height: auto;
    justify-content: center;
}

.card:not(.post-card) {
    /*width: 18rem;*/
    width: 33%;
    border: 1px solid lightslategray;
    border-radius: 15px;
    margin: 5%;
    height: auto;
    padding: 1% 20px 2%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray !important;
    font-size: small;
    font-family: 'Thasadith', sans-serif;
}

#view-post {
    border-color: lightslategray !important;
}

.card-img-top, .img-fluid {
    width: 100%;
    align-items: center;
    border-radius: 5px;
}

.card-title {
    font-weight: bold;
    font-size: large;
    padding: 0;
}

.card-text {
    padding-bottom: 7%;
}

.profile-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.comment {
    border: 1px solid #006f3c;
    border-radius: 10px;
    font-size: medium;
    padding: 0.6% 1%;
}

#comment-text {
    border: 1px solid lightslategray !important;
}

#comments-row {
    display: flex;
    justify-content: end;
    margin-right: 2%;
    height: auto;
    width: 100%;
}

.profile-page-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#index-post-user-id {
    width: fit-content;
    margin-left: 1%;
}

#index-post-user-id > a {
    text-decoration: none;
    color: black;
}

#index-post-user-id > a:hover {
    color: #006f3c;
    text-decoration: none;
}

.suggested-profile {
    background-color: #303030;
    position: sticky;
    top: 30vh;
    right: 10vh;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: fit-content;
}

.suggested-profile a {
    color: white !important;
    text-decoration: none !important;
    font-family: 'Thasadith', sans-serif !important;
    font-size: 20px;
}

.suggested-profile a:hover {
    color: #198754 !important;
}

.suggested-profile > h1 {
    color: #FEAB5D;
    font-size: 30px;
    font-family: 'Thasadith', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    padding-left: 40px;
}

.edit-profile-box {
    background-color: #303030;
    color: white;
    border-radius: 10px;
    margin: 1% 10% 1% 1%;
    padding: 5%;
    height: auto;
    width: 100% !important;
}

.form-control:not(input[type="file"]) {
    border: none;
    border-radius: 4px;
    margin: 1% 0 4%;
    width: 96%;
    padding: 2%;
    font-size: medium;
}

#new-post .form-control {
    border: 1px solid lightgray;
    border-radius: 5px;
}

#new-post .form-control:not(input[type="file"]) {
    padding: 1% 2%;
}

.password-field {
    border: 1px solid lightgray !important;
    height: auto;
    width: 70% !important;
}

.form-buttons {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.change-form-buttons {
    display: flex;
    justify-content: right;
    margin: 10px 18% 10px 0;
}

input[type="file"] {
    background-color: white;
    font-size: medium;
    border-radius: 4px;
    width: 100%;
    margin: 1% 0 4%;
}

input::file-selector-button {
    background-color: rgb(222, 220, 220) !important;
    border: none;
    border-right: 1px solid black;
    font-weight: bold;
    padding: 1.5%;
}

input[type="submit"] {
    background-color: green !important;
    color: white;
    border: none;
    border-radius: 4px;
    width: fit-content !important;
    padding: 8px 2% !important;
    margin: 0 0 0 10px !important;
    font-size: medium;
}

input[type="reset"] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    width: fit-content !important;
    padding: 8px 2% !important;
    margin: 0 10px 0 0 !important;
    font-size: medium;
}

#search-text {
    float: left;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2% 0;
    padding: 0.6%;
    width: 95%;
    font-size: medium;
    height: auto;
}

#category-search {
    width: 20% !important;
    height: fit-content;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

a:not(a[role="button"], .signup-body a, .login-body a) {
    color: black;
    text-decoration: none;
}

a:hover:not(a[role="button"], .signup-body a, .login-body a) {
    color: #447957;
    text-decoration: none;
}

.nav-item a, .nav-item button, nav p {
    color: white !important;
    text-decoration: none !important;
}

.btn-primary:not(.signup-body .btn-primary, .login-body .btn-primary), .view-post {
    background-color: #006f3c !important;
    color: white !important;
    border: none !important;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.view-post, .btn-comment {
    float: right;
    padding: 10%;
}

.btn-primary:hover:not(.signup-body .btn-primary, .login-body .btn-primary), .btn-primary:hover:active:not(.signup-body .btn-primary, .login-body .btn-primary), .view-post:hover {
    background-color: #198754 !important;
}

.btn-secondary, .btn-utility-contrast {
    background-color: transparent;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 1%;
}

.btn-back {
    margin-right: 2%;
    padding: 1.8% 1.5% 1.5% 1.8%;
    border: 1px solid lightgray;
    border-radius: 50%;
}

#view-post .btn-back {
    padding: 1% !important;
    color: black;
    border: 1px solid lightslategray;
}

.btn-back svg {
    vertical-align: middle;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-utility-contrast:hover {
    background-color: rgb(193, 196, 198);
}

a[role="button"]:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
    padding: 10px;
    margin: 0 1%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

a[role="button"]:hover:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
    background-color: #198754 !important;
    color: white !important;
}

.btn-following {
    cursor: pointer;
    margin: 2%;
}

.btn-utility {
    color: white;
    padding: 2% 2% 1.5%;
    border-radius: 4px;
    vertical-align: middle;
}

.btn-search {
    float: right;
    background-color: lightgray;
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 0.5% 0.7%;
    margin: 2% 0;
    height: fit-content;
    width: 3%;
}

.btn-search:hover {
    cursor: pointer;
    background-color: rgb(187, 186, 186);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5% 1%;
}

.toggle-password {
    background-color: transparent;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding:2%;
    margin: 5% 0;
    width: 3%;
}

.toggle-password:hover {
    cursor: pointer;
    background-color: lightgray;
    padding:2%;
    margin: 5% 0;
    width: 3%;
}

a[role="button"]:hover:not(.btn-following){
    background-color: rgb(193, 196, 198);
    color: black;
}

.badge {
    color: white !important;
    background-color: #198754 !important;
    font-size: small;
    width: fit-content;
    border: none;
    border-radius: 16px;
    padding: 5px;
}

.number-badge {
    color: white !important;
    background-color: lightslategray !important;
    font-size: small;
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
}

.dropwdown-menu {
    width: 300px;
}

.dropdown-item:hover {
    background-color: #198754 !important;
    color: white !important;
    border: none !important;
    cursor: pointer;
}

a.dropdown-toggle {
    background-color: #198754 !important;
    color: white !important;
    border-color: #198754 !important;
    padding: 1%;
}

a.dropdown-toggle:hover {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
}

.show-date {
    font-style: italic !important;
}

#cookie-notify {
    background-color: darkslategray;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#ok-button {
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold !important;
    margin: 0 1%;
    float: right;
    width: 2%;
}


.logout-button {
    background: none;
    border: none;
}

ul {
    list-style: none;
    align-items: start;
}

ul > li {
    margin-bottom: 10px;
}

.utility-buttons {
    margin-bottom: 3% !important;
}

.cascading-container {
    display: inline-block;
    align-items: center;
    margin: 5%;
}

.input-group {
    width: 100% !important;
    vertical-align: middle !important;
}

.dropdown-toggle {
    border: 1px solid lightslategray !important;
    border-radius: 5px !important;
    padding: 1%;
    height: auto;
    font-size: medium;
}

.dropdown-toggle:hover {
    cursor: pointer;
    background-color: lightgray;
}

.change-password-section {
    width: 60% !important;
    display: flex;
    justify-content: center;
}

.change-password-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.change-password-group > form {
    width: 60%;
    padding-left: 10%;
}

#profiles-table {
    display: flex;
    margin: 10% 0;
    justify-content: center;
}

.table-responsive {
    overflow-x: hidden;
    width: 60%;
    height: 90%;
}

.table {
    width: 94% !important;
    height: 100%;
}

.table th, .table td {
    height: auto;
    padding: 2%;
    text-align: center;
    vertical-align: middle;
}

.table > thead {
    position: sticky;
    top: 0;
    background-color: rgba(0, 105, 0);
    color: white;
}

.table > tbody {
    overflow-y: auto;
}

.table-striped {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 2%;
}


.table-striped tr:nth-child(even) {
    background-color: lightgray;
}

#new-post {
    width: 60% !important;
    padding: 0 5%;
}

#view-post {
    width: 60%;
    align-items: center;
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 3%;
}

#post-files {
    margin: 2% 5% !important;
}

@media screen and (max-width: 992px) {
    .index-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .posts-container {
        width: 100%;
    }

    .suggested-profile {
        display: none;
    }
}