body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #447957 !important;
    color: white !important;
}

.offcanvas, .offcanvas-header {
    background-color: #222529;
    color: white;
}

.suggested-profile {
    background-color: #303030;
}

.suggested-profile {
    position: fixed;
    top: 30vh;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.edit-profile-box {
    background-color: #303030;
    color: white;
}

.suggested-profile a {
    color: white !important;
    text-decoration: none !important;
}

.suggested-profile a:hover {
    color: #198754 !important;
}

.suggested-profile > h1 {
    color: #FEAB5D;
    font-size: 30px;
    font-family: 'Thasadith', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

a:not(a[role="button"]) {
    color: black;
    text-decoration: none;
}

a:hover:not(a[role="button"]) {
    color: #447957;
    text-decoration: none;
}

.nav-item a, .nav-item button, nav p {
    color: white !important;
    text-decoration: none !important;
}

.btn-primary, .view-post {
    background-color: #006f3c !important;
    color: white !important;
    border: none !important;
}

.btn-primary:hover, .btn-primary:hover:active, .view-post:hover {
    background-color: #198754 !important;
}

.btn-secondary, .btn-utility-contrast {
    color: black;
    background-color: transparent;
    border-color: black;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-utility-contrast:hover {
    color: black;
    background-color: rgb(193, 196, 198);
}

.card, #view-post {
    border-color: lightslategray !important;
}

a[role="button"]:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
}

a[role="button"]:hover:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
    background-color: #198754 !important;
    color: white !important;
}

.btn-utility {
    color: white;
}

a[role="button"]:hover:not(.btn-following){
    background-color: rgb(193, 196, 198);
}

.rounded-pill:not(.border-success) {
    color: white !important;
    background-color: #198754 !important;
    border-color: transparent !important;
}

.dropdown-item:hover {
    background-color: #198754 !important;
    color: white !important;
    border: none !important;
}

a.dropdown-toggle {
    background-color: #198754 !important;
    color: white !important;
    border-color: #198754 !important;
}

a.dropdown-toggle:hover {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
}

#cookie-notify {
    background-color: darkslategray;
    color: white;
}

#ok-button {
    background-color: whitesmoke;
    color: black;
}

.show-date {
    font-style: italic;
}



/* Dark theme */
html[data-bs-theme = "dark"] {

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    nav {
        background-color: #447957 !important;
        color: white;
    }

    .suggested-profile a {
        color: white !important;
        text-decoration: none !important;
    }

    .suggested-profile a:hover {
        color: #198754 !important;
    }

    .suggested-profile > h1 {
        color: #FEAB5D;
        font-size: 30px;
        font-family: 'Thasadith', sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
    }

    .edit-profile-box {
        background-color: lightgray;
        color: black;
    }

    a:not(a[role="button"]) {
        color: white;
        text-decoration: none;
    }
    
    a:hover:not(a[role="button"]) {
        color: #45A55F;
        text-decoration: none;
    }

    .nav-item a, .nav-item button, nav p {
        color: white !important;
        text-decoration: none !important;
    }

    a[role="button"]:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
        background-color: #006f3c !important;
        color: white !important;
        border-color: #006f3c !important;
    }
    
    a[role="button"]:hover:not(.btn-primary, .btn-utility, .btn-utility-contrast) {
        background-color: #45A55F !important;
        border-color: #45A55F !important;
    }

    .btn-primary {
        background-color: #15AC66 !important;
        color: black;
        border: none;
    }

    .btn-primary:hover, .btn-primary:hover:active {
        background-color: #006f3c !important;
        color: white;
    }

    .btn-secondary, .btn-utility-contrast {
        color: white;
        background-color: transparent;
        border-color: white;
    }
    
    .btn-secondary:hover, .btn-secondary:focus, .btn-utility-contrast:hover {
        color: white;
        background-color: darkslategray;
    }

    .card, #view-post {
        border-color: lightgray !important;
    }

    a[role="button"]:hover:not(.btn-following){
        background-color: gray;
    }

    .btn-utility {
        color: black;
    }

    .rounded-pill:not(.border-success) {
        color: #45A55F !important;
        background-color: transparent !important;
        border-color: #45A55F !important;
    }

    .dropdown-item:hover {
        background-color: #006f3c !important;
        color: white !important;
        border: none !important;
    }

    a.dropdown-toggle {
        background-color: transparent !important;
        color: #45A55F !important;
        border-color: #45A55F !important;
    }

    a.dropdown-toggle:hover {
        background-color: #006f3c !important;
        color: white !important;
        border-color: #006f3c !important;
    }

    #cookie-notify {
        background-color: lightgray;
        color: black;
    }

    #ok-button {
        background-color: darkslategray;
        color: white;
    }

    .show-date {
        font-style: italic;
    }
}
