nav {
    background-color: #447957 !important;
    color: white !important;
}

.offcanvas, .offcanvas-header {
    background-color: #222529;
    color: white;
}

#suggested-profile-id, #edit-profile-box-id {
    background-color: lightgray;
}

#suggested-profile-id a {
    color: black;
    text-decoration: none;
}

#suggested-profile-id a:hover {
    color: #198754;
}

a:not(a[role="button"]) {
    color: black;
    text-decoration: none;
}

a:hover:not(a[role="button"]) {
    color: #447957;
    text-decoration: none;
}

.nav-item a, .nav-item button, nav p {
    color: white !important;
    text-decoration: none !important;
}

.btn-primary {
    background-color: #006f3c;
    color: white;
    border: none;
}

.btn-primary:hover, .btn-primary:hover:active {
    background-color: #198754;
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: black;
    background-color: rgb(193, 196, 198);
}

.card, #view-post {
    border-color: lightslategray !important;
}

a[role="button"]:not(.btn-primary, .btn-utility) {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
}

a[role="button"]:hover:not(.btn-primary, .btn-utility) {
    background-color: #198754 !important;
    color: white !important;
}

a[role="button"]:hover:not(.btn-following){
    background-color: rgb(193, 196, 198);
}

.rounded-pill:not(.border-success) {
    color: white !important;
    background-color: #198754 !important;
    border-color: transparent !important;
}

.dropdown-item:hover {
    background-color: #198754 !important;
    color: white !important;
    border: none !important;
}

a.dropdown-toggle {
    background-color: #198754 !important;
    color: white !important;
    border-color: #198754 !important;
}

a.dropdown-toggle:hover {
    background-color: #006f3c !important;
    color: white !important;
    border-color: #006f3c !important;
}

#cookie-notify {
    background-color: darkslategray;
    color: white;
}

#ok-button {
    background-color: whitesmoke;
    color: black;
}

.show-date {
    font-style: italic;
}



/* Dark theme */
html[data-bs-theme = "dark"] {

    nav {
        background-color: #447957 !important;
        color: white;
    }

   #suggested-profile-id, #edit-profile-box-id {
        background-color: rgb(27, 61, 61);
    }

    #suggested-profile-id a {
        color: white;
        text-decoration: none;
    }

    #suggested-profile-id a:hover {
        text-decoration: underline;
    }

    a:not(a[role="button"]) {
        color: white;
        text-decoration: none;
    }
    
    a:hover:not(a[role="button"]) {
        color: #45A55F;
        text-decoration: none;
    }

    .nav-item a, .nav-item button, nav p {
        color: white !important;
        text-decoration: none !important;
    }

    a[role="button"]:not(.btn-primary, .btn-utility) {
        background-color: #006f3c !important;
        color: white !important;
        border-color: #006f3c !important;
    }
    
    a[role="button"]:hover:not(.btn-primary, .btn-utility) {
        background-color: #45A55F !important;
        border-color: #45A55F !important;
    }

    .btn-primary {
        background-color: #15AC66 !important;
        color: black;
        border: none;
    }

    .btn-primary:hover, .btn-primary:hover:active {
        background-color: #006f3c !important;
        color: white;
    }

    .btn-secondary {
        color: white;
        background-color: transparent;
        border-color: white;
    }
    
    .btn-secondary:hover, .btn-secondary:focus {
        color: white;
        background-color: darkslategray;
    }

    .card, #view-post {
        border-color: lightgray !important;
    }

    a[role="button"]:hover:not(.btn-following){
        background-color: darkslategray;
    }

    .rounded-pill:not(.border-success) {
        color: #45A55F !important;
        background-color: transparent !important;
        border-color: #45A55F !important;
    }

    .dropdown-item:hover {
        background-color: #006f3c !important;
        color: white !important;
        border: none !important;
    }

    a.dropdown-toggle {
        background-color: transparent !important;
        color: #45A55F !important;
        border-color: #45A55F !important;
    }

    a.dropdown-toggle:hover {
        background-color: #006f3c !important;
        color: white !important;
        border-color: #006f3c !important;
    }

    #cookie-notify {
        background-color: lightgray;
        color: black;
    }

    #ok-button {
        background-color: darkslategray;
        color: white;
    }

    .show-date {
        font-style: italic;
    }
}
