<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/moreInfo.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../controller/utils/checkLogin.js"></script>
    <script src="../controller/utils/lastSeen.js"></script>
    <script src="../controller/newPost/newPost.js"></script>
    <script src="../controller/newPost/categoryScript.js"></script>
    <script src="../controller/newPost/loadCategories.js"></script>
    <script src="../controller/newPost/createNewPost.js"></script>

    <link rel="icon" href="nfa-icon.png" type="image/x-icon" />
    
    <title>NFA - New Post</title>
</head>

<body>
    <div id="navbar-space"></div>
    <div class="container-centered">
        <section id="new-post">
            <h2>New Post</h2>
            <form action="#" method="post" id="new-post-form" enctype="multipart/form-data">

                <label for="title" class="form-label">Choose Title:</label>
                <input id="title" class="form-control" type="text" name="title" placeholder="Post Title" required />

                <label for="files" class="form-label">Choose notes:</label>
                <input type="file" class="form-control" name="files" id="files" required />

                <label for="preview">Choose preview image:</label>
                <input type="file" class="form-control" name="preview" id="preview" accept="image/*" />

                <label for="description" class="form-label">Write Description:</label>
                <textarea class="form-control" name="description" id="description" cols="50" rows="6"
                    form="new-post-form" placeholder="Description..." required></textarea>

                <div class="row">
                    <label for="select-private">Make post private</label>
                    <div id="private-more-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                            class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                        </svg>
                        <p id="explain-private">If you choose to make a post private it won't be displayed in search
                            page and only your follower will see it on your profile page. You can't buy a sponsor for
                            private posts.</p>
                    </div>
                    <input type="checkbox" class="form-control" name="select-private" id="select-private">
                </div>

                <div class="row">
                    <label for="category-dropdown">Select category:</label>
                    <div class="dropdown">
                        <button class="btn-secondary dropdown-toggle" type="button" id="category-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="category-dropdown">
                            <label for="category-search" hidden>Search categories</label>
                            <input type="text" name="categorySearch" id="category-search" class="form-control"
                                placeholder="Search/Create" />
                            <a class="btn-utility-contrast" role="button" id="create-ctg-btn">Create</a>

                            <div class="scrollable-menu" id="categories-menu">
                                <!-- categories menu here -->
                            </div>
                        </div>
                        <div id="selected-category"></div>
                    </div>
                    <div id="category-badge"></div>
                </div>

                <div class="form-buttons">
                    <label for="reset" class="form-label" hidden>Clear</label>
                    <input id="reset" type="reset" class="btn" value="Clear" />
                    <label for="submit" class="form-label" hidden>Post</label>
                    <input id="submit" type="submit" class="btn" name="submit" value="Post" />
                </div>
            </form>
        </section>
    </div>
</body>

</html>